/* General settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff;
}

/* HEADINGS
----------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0;
	padding:0;
}
h1{
	color:#000;
	font-size: 1.1em;
}
h2{
	color:#000;
	font-size: 1.0em;
}
h3{
	color:#000180;
	font-size: 1.0em;
}

fieldset {
  margin: 5px, 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

form {
  margin: 5px;
  padding: 5px 5px;
  overflow: auto;
  color: #fffff;
  background-color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

input.required {
  border-width: 2px;
}
