/* General settings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #3a9ac2;
  font-family: "Verdana", "Arial", Helvetica, sans-serif;
}

/* HEADINGS
----------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{
	font-weight:bold;
	margin-bottom:10px;
	margin-top:0;
	padding:0;
}
h1{
	color:#000;
	font-size: 1.1em;
}
h2{
	color:#000;
	font-size: 1.0em;
}
h3{
	color:#000180;
	font-size: 1.0em;
}

fieldset {
  border-style:none;
  background-color: #3a9ac2;
  margin: 5px 5px;
  padding: 5px 5px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

form {
  background-color: #3a9ac2;
  margin: 5px 5px;
  padding: 5px 5px;
  overflow: auto;
  color: #fffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;  
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form ul li {
  margin: .3em 0 0 0;
  padding: 0;
}

form * {
  line-height: 1.0em;
}

/*
input:valid, select:valid {
  background: #efe;
}
*/

input.required {
  border-width: 2px;
}

input {
  width: 98%;
}

select {
  width: 98%;	
}

.error {
  background-color: #fffe36;
  border: 1px solid #e1e16d;
  font-size: .8em;
  color: #000;
  padding: .3em;
  margin-left: 5px;
  border-radius: 5px; 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
.register-form .submit {
	display: block;
	height: 35px;
	color: #fff;
	background: #2a83ac;
	border: 1px solid #fff;
	border-radius: 5px;
	width: 98%;
	font-size: 120%;
	margin: 0 auto;
	margin-top: 20px;
	cursor:pointer
}
/* reverse text */
span.zaza {
  unicode-bidi: bidi-override;
  direction: rtl;
}

