<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
  version="3.0">
  
  <display-name>P J Locums</display-name>

  <!-- Tell JSTL to get fmt messages from StripesResources.properties -->
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>StripesResources</param-value>
  </context-param>
   
  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>net.infomediauk.filter.CharsetFilter</filter-class>
      <init-param>
        <param-name>requestEncoding</param-name>
        <param-value>UTF-8</param-value>
      </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>StripesFilter</filter-name>
    <filter-class>
      net.sourceforge.stripes.controller.StripesFilter
    </filter-class>
    <init-param>
      <param-name>ActionResolver.Packages</param-name>
      <param-value>stripesbook.action,net.infomediauk.stripes.action</param-value>
    </init-param>
    <init-param>
      <param-name>LocalePicker.Locales</param-name>
      <param-value>en,es</param-value>
    </init-param>
    <init-param>
      <param-name>Extension.Packages</param-name>
      <param-value>net.infomediauk.stripes.ext</param-value>
    </init-param>
    <init-param>
      <param-name>Interceptor.Classes</param-name>
      <param-value>net.infomediauk.stripes.interceptor.LoginInterceptor</param-value>
    </init-param>
    <!-- Register Form on right would not clear until the following <init-param> was added. 
    <init-param>
      <param-name>PopulationStrategy.Class</param-name>
      <param-value>net.sourceforge.stripes.tag.BeanFirstPopulationStrategy</param-value>
    </init-param>
    -->
	<init-param>
	  <param-name>Stripes.EncryptionKey</param-name>
	  <param-value>Don't Copy/Paste Me! Make up your own encryption key and keep it secret!</param-value>
	</init-param>
  </filter>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>
      net.sourceforge.stripes.controller.DispatcherServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <filter-mapping>
    <filter-name>StripesFilter</filter-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.htm</url-pattern>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/stripes-html5</taglib-uri>
      <taglib-location>/WEB-INF/tld/stripes-html5.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
    </jsp-property-group>
  </jsp-config>
</web-app>